<h3 class="mt-5 mb-5 text-center">すべてのサウナ</h3>

<main class="container">
    <div class="row">
        <% @posts.each do |post| %>
            <div class="card col-md-8 offset-md-2 mb-5">
                <h4 class="card-title mt-3 text-center"><%= post.title %></h4>
                <p class="d-block mx-auto"><%= image_tag post.image.url unless post.image.blank? %></p>
                <div class="card-body">
                    <p class="card-text">
                    <%= post.description %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</main>