<div class="like-form mb-3">
    <% if current_user.already_liked?(post) %>
        <%= link_to post_like_path(post), method: :delete, class: "mr-3" do %>
            <i class="fas fa-star"></i> <span class="text-muted"><%= post.likes.count %></span>
        <% end %>
    <% else %>
        <%= link_to post_likes_path(post), class: "mr-3" do %>
            <i class="far fa-star"></i> <span class="text-muted"><%= post.likes.count %></span>
        <% end %>
    <% end %>
</div>