<div class="card col-md-8 offset-md-2 mt-5 mb-5">
  <% @users.each do |user| %>
    <div class="col-12 mt-5 text-center">
      <%= link_to user.name, user_path(user.id), class: "text-muted" %>
      <p class="mt-3 mb-3"><%= image_tag user.image.url unless user.image.blank? %></p>
      <%= render "relationships/follow_button", user: user %>
    </div>
    <hr>
  <% end %>
</div>