<main class="container">
    <div class="row mt-5">
        <div class="card col-md-6 offset-md-3 mb-5">
            <h4 class="card-title mt-3 text-center"><%= @user.email %></h4>
            <!-- <p class="text-right"><a class="text-muted btn btn-light" href="user_edit.html">編集</a></p> -->
            <div class="card-body">
                <p class="card-text">紹介文が入ります。</p>
                <hr>
            </div>
        </div>
    </div>
</main>