<h3 class="mt-5 mb-5 text-center rank-posts"><i class="fas fa-crown"></i> 人気ランキング</h3>

<main class="container">
  <div class="row">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
</main>