<h3 class="mt-5 mb-5 text-center rate-posts"><i class="fas fa-star"></i> 高評価ランキング</h3>

<main class="container">
  <div class="row">
    <%= render 'posts/posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
</main>