<h3 class="mt-5 mb-5 text-center rate-posts">♨︎ おすすめ度の高いサウナ ♨︎</h3>

<main class="container">
    <div class="row">
        <%= render 'posts/posts', posts: @posts %>
    </div>
    <%= paginate @posts %>
</main>